<%= link_to "Back", actors_path %>

<h1><%= @actor.name %></h1>


<%= image_tag @actor.image, :class => "feature", :alt => @actor.name if @actor.image.present? %>


<% if @actor.movies.present? %>
  <h2>Movies</h2>

  <% @actor.movies.each do |movie| %>
    <%= link_to image_tag(movie.cover, :class => "thumb", :alt => movie.title), movie %>
  <% end %>

<% end %>


<div class="controls">
  <%= link_to "Edit actor", edit_actor_path(@actor) %>
  <%= link_to "Delete actor", @actor, :method => "delete", :data => {:confirm => "Are you sure you want to delete #{@actor.name}"} %>

</div>
