<%= link_to "Back to My Movies", movies_path %>

<h1><%= @movie.title %></h1>

<% if @message.present? %>
  <h3><%= @message %></h3>
<% end %>

<div class="controls">
  <%= link_to "Edit movie", edit_movie_path(@movie) %>
  <%= link_to "Delete movie", @movie, :method => "delete", :data => {:confirm => "Are you sure you want to delete #{@movie.title}"} %>
</div>

<% if @movie.cover.present? %>
  <%= image_tag @movie.cover, :class => "feature", :alt => @movie.title  %>
<% end %>

<ul>
  <li>Year: <%= @movie.year %></li>

  <% if @movie.genres.present? %>
    <li>Genre:<% @movie.genres.each do |genre| %> <%= genre.name %>, <% end %></li>
  <% end %>

  <% if @movie.actors.present? %>
    <li>Actors:<% @movie.actors.each do |actor| %> <%=actor.name%>, <% end %></li>
  <% end %>

  <% if @movie.director.present? %>
    <li>Director: <%= @movie.director.name if @movie.director.present? %></li>
  <% end %>

  <% if @movie.duration.present? %>
    <li>Duration: <%= @movie.duration %> mins</li>
  <% end %>

  <% if @movie.synopsis.present? %>
    <li>Synopsis: <%= @movie.synopsis %></li>
  <% end %>

  <% if @movie.libraries.present? %>
    <li>Present in <%= pluralize @movie.libraries.count, "library" %>:
       <% @movie.libraries.each do |library| %>
         <%= library.name %>,
       <% end %>
     </li>
  <% end %>

</ul>



<%= form_tag add_or_remove_from_library_path(@movie.id), :method => "put" do%>
  <%= label_tag "My Libraries:"%>
  <%= select_tag :library_id, options_from_collection_for_select(@libraries, :id, :name), {multiple: true} %>

  <%= submit_tag "Add to" %>
  <%= submit_tag "Remove from"%>

<% end %>


<!-- <form action="/movies/< %= @movie.id %>" method="put">
  <label>
    Add movie to My Libraries:
  </label>
  <select name="library_id" id="">
    <option value=""></option>
    < % @libraries.each do |library| %>
      <option value="< %= library.id %>">< %= library.name %></option>
    < % end %>
  </select>
  <button>Add</button>
</form> -->
