<%= link_to "Back", movies_path %>

<h1><%= @movie.title %></h1>

<% if @movie.cover.present? %>
  <%= image_tag @movie.cover, :class => "feature", :alt => @movie.title  %>
<% end %>

<ul>
  <li>Year: <%= @movie.year %></li>

  <% if @movie.genres.present? %>
    <li>Genre:<% @movie.genres.each do |genre| %> <%= genre.name %>, <% end %></li>
  <% end %>

  <% if @movie.actors.present? %>
    <li>Actors:<% @movie.actors.each do |actor| %> <%=actor.name%>, <% end %></li>
  <% end %>

  <% if @movie.director.present? %>
    <li>Director: <%= @movie.director.name if @movie.director.present? %></li>
  <% end %>

  <% if @movie.duration.present? %>
    <li>Duration: <%= @movie.duration %> mins</li>
  <% end %>

  <% if @movie.synopsis.present? %>
    <li>Synopsis: <%= @movie.synopsis %></li>
  <% end %>

  <% if @movie.libraries.present? %>
    <li>Found in:
       <% @movie.libraries.each do |library| %>
         <%= library.name %>,
       <% end %>
     </li>
  <% end %>

</ul>

<div class="controls">
  <%= link_to "Edit movie", edit_movie_path(@movie) %>
  <%= link_to "Delete movie", @movie, :method => "delete", :data => {:confirm => "Are you sure you want to delete #{@movie.title}"} %>
</div>
