<h1>Welcome to The Movie Library</h1>

<p>This is where you can keep a record of all your movies.</p>
<p>Create as many libraries as you want and simply add the movies you wish.</p>
<p>Search your own lists by movie title, actor, director or genre.</p>
<p>Or just ask what movie should you watch tonight?</p>

<div class="log_form">
    <h2 class="log_form">Log In</h2>


    <% if flash[:error].present? %>
      <p><span class="error_msg"><%= flash[:error] %></span></p>
    <% end %>

  <%= form_tag login_path do %>
    <%= label_tag :email %>
    <%= email_field_tag :email %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag "Log in" %>
  <% end %>

</div>
