<h1>Welcome to The Movie Library</h1>

<p>Organise your movies all in one place. Make your own libraries.</p>
<p>Search your movies by actor, director or genre. Or just ask what movie should you watch tonight?</p>

<div class="log_form">
<h2>Log In</h2>

<% if flash[:error].present? %>
  <p><%= flash[:error] %></p>
<% end %>

<%= form_tag login_path do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Sign in" %>
<% end %>
</div>
