<div class="log_form">
<h1>User Sign Up</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><span class="error_msg"><%= msg %></span></li>
    <% end %>
  </ul>
<% end %>

<div class="sign_up">
<%= form_for @user do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, :required => true %>

  <%= f.label :email %>
  <%= f.email_field :email, :required => true %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Sign Up" %>

<% end %>
</div>
</div>
