<nav class="links_small">
  <%= link_to "Back", @back_url %>
  <%= link_to "Edit library", edit_library_path(@library) %>
  <%= link_to "Delete library", @library, :method => "delete", :data => {:confirm => "Are you sure you want to delete #{@library.name}"} %>
</nav>


<% if flash[:movie_exists].present? %>
  <script>
    window.alert("Movie is already in your library.");
  </script>
<% end %>

<h1><%= @library.name %></h1>

<%= form_tag library_path, :method => "get" do %>
  <%= hidden_field_tag :id, @library.id %>
  <%= label_tag "Add a movie:" %>
  <%= text_field_tag :imdb_query, params[:imdb_query] %>
  <%= submit_tag "Get movie" %>
<% end %>



<% if @imdb_result.present? %>
  <h3>Found <%= pluralize @imdb_result.count, "movie" %>.</h3>
  <ol>
  <% @imdb_result.each do |movie|%>
    <% if movie['imdbID'].present? %>
      <li>
        <h4><%= link_to movie["Title"], "https://www.imdb.com/title/#{movie["imdbID"]}/" %></h4>
        <% if movie["Poster"].include? ("http") %>
          <%= link_to image_tag(movie["Poster"], :class => "thumb", :alt => movie["Title"]), "https://www.imdb.com/title/#{movie["imdbID"]}/"  %>
        <% end %>
        <%= link_to "Add movie", add_movie_path(movie["imdbID"], :id => @library.id) %>
      </li>
    <% end %>
  <% end %>
  </ol>

<% else %>
  <p><span class="error_msg"><%= @message %></span></p>
<% end %>



<% if @library.movies.present? %>
  <h3><%= pluralize @library.movies.count, "movie" %> currently in your library:</h3>
  <% @library.movies.each do |movie| %>
    <%= link_to image_tag(movie.cover, :class => "thumb", :alt => movie.title), movie  %>
  <% end %>
<% end %>
