<%= link_to "Back", libraries_path %>

<h1><%= @library.name %></h1>

<% if @library.movies.present? %>

  <%= @library.movies.sort.each do |movie| %>
    <%= link_to movie.title, movie %>
  <% end %>

<% end %>



<div class="controls">
  <%= link_to "Edit library", edit_library_path(@library) %>
  <%= link_to "Delete library", @library, :method => "delete", :data => {:confirm => "Are you sure you want to delete #{@library.name}"} %>
</div>
