<!DOCTYPE html>
<html>
  <head>
    <title>Movie Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if @current_user.present? %>
    <div class="sliding--menu__wrapper">

      <input type="checkbox" id="navigation">
      <label id="hamburger--icon" for="navigation">
        <i class="fas fa-bars"></i>
      </label>

      <nav>
        <ul>
          <li>
            <%= link_to "Movies", movies_path %>
            <%= link_to "Actors", actors_path %>
            <%= link_to "Genres", genres_path %>
            <%= link_to "Directors", directors_path %>
          </li>
        </ul>
      </nav>

      <div class="obfuscator">
      </div>

    </div>
    <% end %>


    <div class="container">

      <nav class="top">

          <% if @current_user.present? %>

            <%= link_to "Home", root_path %>

            <% if @current_user.admin? %>
              <%= link_to "All users", users_path %>
            <% end %>

            <%= link_to "Log out #{@current_user.email}", login_path, :method => "delete" %>

          <% else %>
            <%= link_to "Sign Up", new_user_path %>
            <%= link_to "Log in", login_path %>
          <% end %>

      </nav>




      <% if @current_user.present? %>
        <nav class="user">
          <div class="links">
            <%= link_to "My Libraries", libraries_path %>
            <%= link_to "Movie tip", suggestion_path %>
          </div>

          <div class="search">
          <%= form_tag result_path, :method => 'get' do %>
            <%= text_field_tag :search_query, params[:search_query] %>
            <%= submit_tag "Search", name: nil, id: "search_bt" %>
          <% end %>
          </div>

        </nav>
      <% end %>


      <%= yield %>


    </div>



  </body>
</html>
